
.banner-image {
    width: 50px; /* عرض تصویر را به دلخواه تغییر دهید */
    height: 50px; /* ارتفاع تصویر را به دلخواه تغییر دهید */
    border-radius: 50%; /* برای گرد کردن تصویر */
    object-fit: cover; /* برای تنظیم تصویر داخل کادر گرد */
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
